$color__background-body: #171716;
$color__colorbackground-header: rgb(131,18,18);
$color__colorbackground-barre: red;
$color__colorbackground-main: #ccc;
$color__colorbackground-footer: #333;

$color__link: rgb(198, 198, 236);
$color__link-visited: rgb(56, 56, 88);
$color__link-hover: rgb(139, 139, 184);
$background__link-hover: rgb(136, 168, 47);