$color__background-body: #171716;
$color__colorbackground-header: rgb(131,18,18);
$color__colorbackground-barre: red;
$color__colorbackground-main: #ccc;
$color__colorbackground-footer: #333;

$color__link: rgb(112, 112, 189);
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: rgb(50, 50, 100);
$background__link-hover: rgb(136, 168, 47);